.d10 {
  width: 100%;
}
.d11 {
  text-align: center;
  display: flex;
  width: 86%;
  justify-content: space-around;
  align-items: center;
}
.d12 {
  color: #5a3e36;
  background-color: #fad8df;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.d13 {
  width: 73%;
}
.d13 p {
  color: #5a3e36;
  font-size: 2rem;
  width: 100%;
  text-align: justify;
  font-weight: 700;
}
.h1 {
  font-size: 50%;
  color: #5a3e36;
  text-align: center;
}
