.d10{
  width: 100vh;
}
.d11{

  text-align: center;
    display: flex
}
.d12
{
      width: 50px;
  height: 50px;
  color: #5a3e36;
    background-color: aqua;
}
.d13{
 color: #5a3e36;
 font-size: 74%;
}
.h1{

    font-size: 50%;
    color: #5a3e36;
    text-align: center;
}
