@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.igm {
    width: 150px;
}
.background_Main {
    background-image: url("image/1.png");
    background-size: cover;
    background-position: center;
}
.corecting {
    display: flex;
    justify-content: space-around;
}
.corecting div {
    width: 25%;
    text-align: center;
}

.corecting div ul {
    list-style-type: none;
    padding: 0;
    height: 20vh;
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    font-weight: 1000;
}
.text {
    text-align: center;
}
.pancace {
    display: flex;
    justify-content: space-around;
}
.pancace div {
    width: 28%;
    text-align: center;
}
.pancace div ul {
    list-style-type: none;
    padding: 0;
    height: 20vh;
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    font-weight: 1000;
}
.final {
    display: flex;
    justify-content: space-around;
}
.final div {
    width: 25%;
    text-align: center;
}
.final div ul {
    list-style-type: none;
    padding: 0;
    height: 20vh;
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    font-weight: 1000;
}
.corecting div h3 {
    font-family: "Pattaya", sans-serif;
}
.pancace div h3 {
    font-family: "Pattaya", sans-serif;
}
.final div h3 {
    font-family: "Pattaya", sans-serif;
}
.corecting div img
{
    box-shadow: 5px 5px 5px  black;
}
.pancace div img
{
    box-shadow: 5px 5px 5px  black;
}
.final div img
{
    box-shadow: 5px 5px 5px  black;
}
